<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.boardSite.mapper.AnswerMapper">

	<insert id="insertAnswer" parameterType="java.util.HashMap">
    INSERT INTO answer (
        content,
        create_date,
        question_id,
        author
        modify_date
    ) VALUES (
        #{content},
        #{createDate},
        #{questionId},
        #{author},
        #{updateDate}
    )
</insert>
    
    <select id="selectAnswerList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    <![CDATA[ 
    	SELECT
    		content,
    		create_date,
    		author,
    		modify_date
    	FROM
    		answer
    	WHERE 
    		question_id = #{question_id}
    ]]>
    </select>
    
    <update id="updateAnswer" parameterType="java.util.HashMap">
    <![CDATA[ 
    	UPDATE
    		answer
    	SET
    		content = #{content},
    		modify_date = #{updateDate}
  		WHERE
  			id = #{answerId}
    ]]>
    
    </update>
    
    <delete id="deleteAnswer" parameterType="java.util.HashMap">
	<![CDATA[ 
		DELETE
		FROM
			answer
		WHERE
			id = #{answerId}
	]]>
	</delete>
</mapper>
