<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.boardSite.mapper.QuestionMapper">

	<insert id="insertQuestion" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	    INSERT INTO question (subject, content, create_date, author)
        VALUES (#{subject}, #{content}, #{createDate}, #{author})
	    ]]>
    </insert>
    
    <select id="questionDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    	<![CDATA[ 
    		SELECT
    			id,
    			subject,
    			content,
    			create_date,
    			author,
    			modify_date
    		FROM question
    		WHERE id = #{id}
    	]]>
    </select>
</mapper>
